<h1>Purchase #: <%= @purchase.id %></h1>
<h2>Customer: <%= @customer.name %></h2>
<h2>Product: <%= @product.name %></h2>
<h1>Transaction: <%= @purchase.receipt_id %></h1>


<p><%= link_to "Edit", edit_receipt_purchase_path(@receipt) %> </p>
<p><%= link_to "Delete", receipt_purchase_path(@receipt), :data => {:confirm => "Really??", :method => "delete"} %></p>

<p><%= link_to "Return to purchases", receipt_purchases_path %></p>
